body {
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  text-align: center;
}

#chat-container {
  max-width: 80%;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

#chat-messages {
  padding: 10px;
  height: 500px;
  overflow-y: auto;
}

#user-input {
  display: flex;
  padding: 10px;
  background-color: #f2f2f2;
}

#message-input {
  flex: 1;
  margin-right: 10px;
}

#send-button {
  cursor: pointer;
}

#id-info {
  text-align: center;
}

.my-message {
  text-align: right;
  color: blue;
}

.not-my-message {
  text-align: left;
  color: green;
}

.enterance {
  text-align: center;
  color: gray;
}

.exit {
  text-align: center;
  color: gray;
}
